# Object files
firmware/*.o
firmware/*.ko
firmware/*.obj
firmware/*.elf

# Precompiled Headers
firmware/*.gch
firmware/*.pch

# Libraries
firmware/*.lib
firmware/*.a
firmware/*.la
firmware/*.lo

# Shared objects (inc. Windows DLLs)
firmware/*.dll
firmware/*.so
firmware/*.so.*
firmware/*.dylib

# Executables
firmware/*.exe
firmware/*.out
firmware/*.app
firmware/*.i*86
firmware/*.x86_64
firmware/*.hex

firmware/*.lss
firmware/*.bin


# tools/
tools/fontconv
tools/textconv
